.childDiv{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.childDiv:hover{
    cursor: pointer;
    position: relative;
    top: 3px;
    right: 2px;
    background-color:rgb(167, 72, 230);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    transition: 3s;
}

.leftdiv{
    display: flex;
    padding: 5% 0 0 5%
}



@media screen and (min-width: 480px) {
   
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 25px
}
  }

  
@media screen and (min-width: 720px)  {
   
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        margin-bottom: 25px
    }
      }



      @media screen and (min-width: 1020px)  {
   
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px;
            margin-bottom: 25px
        }
          }